{{ define "page/homepage.tmpl" }}
<!DOCTYPE html>
<html lang="en">
{{ template "head.tmpl"}}
    <body class="homepage d-flex h-100 text-center bg-body-tertiary">
        <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        {{ template "header_anonymous.tmpl"}}
        <br/><br/><br/>
        <main class="px-3">
            <h1>Notes that are always with you.</h1>
            <p class="lead">Capture your ideas anytime, anywhere. Stay organized with ease, sync across devices, and never lose a thought. Simple, powerful, and designed for you.</p>
        </main>
        </div>
    </body>
</html>
{{ end }}