{{ define "note/item.tmpl" }}
<!DOCTYPE html>
<html lang="en">
{{ template "head.tmpl"}}
    <body class="homepage d-flex h-100 text-center bg-body-tertiary">
        <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
            {{ template "header_registered.tmpl"}}
            <div class="container mt-5">
                {{ template "message.tmpl" . }}
                <div class="d-flex justify-content-end mb-3">
                    <a href="/workspace/notes/{{.ID}}/update" class="w-25 btn btn-secondary float-right m-2" type="button">Update</a>
                    <a href="/workspace/notes/{{.ID}}/delete" class="w-25 btn btn-danger float-right m-2" type="button">Delete</a>
                </div>                     
                <div class="row">
                    <h2>{{.Title}}</h2>
                </div>        
                <div class="row">
                    <p>{{.Body}}</p>
                </div>                 
            </div>
        </div>    
    </body>
</html>
{{ end }}
