{{ define "note/list.tmpl" }}
<!DOCTYPE html>
<html lang="en">
{{ template "head.tmpl"}}
    <body class="homepage d-flex h-100 text-center bg-body-tertiary">
        <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
            {{ template "header_registered.tmpl"}}
            <div class="container mt-5">
                {{ template "message.tmpl" . }}
                <h2>List your notes</h2>
                <ul class="list-group">
                {{range .Notes}}
                     <li class="list-group-item list-group-item-action d-flex gap-3 py-3"><a href="/workspace/notes/{{.ID}}">{{.Title}}</a></li>
                {{end}}
                </ul>
            </div>
        </div>    
    </body>
</html>
{{ end }}