{{ define "note/update.tmpl" }}
<!DOCTYPE html>
<html lang="en">
{{ template "head.tmpl"}}
    <body class="homepage d-flex h-100 text-center bg-body-tertiary">
        <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
            {{ template "header_registered.tmpl"}}
            <div class="container mt-5">
                {{ template "message.tmpl" . }}
                <div class="row">
                    <h2>Update: {{.Title}}</h2>
                </div>   
                <div class="d-flex justify-content-end mb-3">
                    <a href="/workspace/notes/{{.ID}}" class="w-25 btn btn-secondary float-right m-2" type="button">Show</a>
                    <a href="/workspace/notes/{{.ID}}/delete" class="w-25 btn btn-danger float-right m-2" type="button">Delete</a>
                </div>                
                <form method="post" action="/workspace/notes/{{.ID}}"> 
                    <div class="form-group">
                        <input name="title" type="text" class="form-control" id="title" placeholder="Title" value="{{.Title}}">
                    </div>
                    <div class="form-group mt-3">
                        <textarea class="form-control" id="body" rows="3" name="body" placeholder="Body">{{.Body}}</textarea>
                    </div>
                    <div class="row form-group mt-5 justify-content-end">
                        <h5>Tags</h5>
                        <div class="d-flex flex-row flex-wrap">
                        {{range .Tags}}
                            <div class="form-check mb-2">
                                <input class="form-check-input" type="checkbox" value="{{.ID}}" id="tag-{{.ID}}" name="tags_id[]" {{if .Tagged}} checked {{end}}>
                                <label class="form-check-label badge rounded-pill text-bg-info" for="tag-{{.ID}}">{{.Name}}</label>
                            </div>
                        {{end}}
                        </div> 
                    </div> 
                    <button class="btn btn-primary w-25 py-2 mt-4" type="submit">Update</button>
                </form>
            </div>
        </div>    
    </body>
</html>
{{ end }}
