{{ define "header_registered.tmpl" }}
<header class="mb-auto">
    <div>
        <h3 class="float-md-start mb-0">Notes</h3>
        <nav class="nav nav-masthead justify-content-center float-md-end">
            <a class="nav-link fw-bold py-1 px-0" href="/">Home</a>
            <a class="nav-link fw-bold py-1 px-0" href="/workspace/notes">List</a>
            <a class="nav-link fw-bold py-1 px-0" href="/workspace/notes/create">Create notes</a>
            <a class="nav-link fw-bold py-1 px-0" href="/auth/logout">Logout</a>
        </nav>
    </div>
</header>
{{ end }}